.main-wrapper{
  display: grid;
  grid-template-columns: 1fr;
  grid-gap:3%;
  padding: 2%;
}

.data-projection-container{
  height: 400px;
  border: solid #a2a2a2 1px;
  border-radius: 5px;
}

.mapper-graph-container{
  height: 400px;
  border: solid #a2a2a2 1px;
  border-radius: 5px;
}

.viz-wrapper{
  height: 400px;
  display: grid;
  grid-template-columns: 2fr 3fr 3fr;
  grid-gap: 1%;
}



.datatable-wrapper{
  display:grid;
  grid-template-columns: 2fr 6fr;
  grid-gap: 1%;
  height: 400px;
}

.distance-matrix-container{
  height: 400px;
  border: solid #a2a2a2 1px;
  border-radius: 5px;
}

.datatable-container{
  height: 400px;
  border: solid #a2a2a2 1px;
  border-radius: 5px;
  text-align: center;
  overflow-y: scroll;
}

svg{
  background-color: rgb(28, 27, 27);
}

