

.node-input-projection{
    fill: black;
    
}

.node-input-projection-unselected{
    opacity:0.05;
}


.node-input-projection-selected2.node-input-projection-selected1{
    fill:black;
}

.node-input-projection-selected1{
    fill: #39b8be;
}

.node-input-projection-selected2{
    fill: #ff00ee;
}


