.link-mapper-graph{
    stroke:#2b2f38;
    stroke-width: 2;
}


.node-mapper-graph-unselected{
    opacity: 0.2;
    fill:#69b3a2;
}

.mapper-selection-container{
    height: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-content: center;
}

.mapper-selection-container div{
    text-align: center;
}

.mapper-selection-container div select{
    max-width: 50%;
}

.svg-container{
    height: 375px;
}