.link-mapper-graph{
    stroke:#3b3838;
}

.link-mapper-graph-default{
    stroke-width: 2px;
    stroke-opacity: 0.6;
}

.link-mapper-graph-hide{    
    stroke-opacity: 0;
}

.lasso path {
    stroke: rgb(94, 92, 92);
    stroke-width:3px;
}

.lasso.MapperLasso1 .drawn {
    fill:  #7fc97f;
    fill-opacity:.3 ;
}

.lasso.MapperLasso2 .drawn {
    fill: #fdc086;
    fill-opacity:.3 ;
}

.lasso .loop_close {
    fill:none;
    stroke-dasharray: 4,4;
}

.lasso .origin {
    fill:#3399FF;
    fill-opacity:.5;
}

.node-mapper-graph-unselected{
    opacity: 0.2;
    fill:#69b3a2;
}

.mapper-selection-container{
    height: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-content: center;
}

.mapper-selection-container div{
    text-align: center;
}

.mapper-selection-container div select{
    max-width: 50%;
}

.svg-container{
    height: 375px;
}